# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

#my project
[Tt]emp.meta
/LuaProject/
/Assets/UnityVS.meta
/Assets/UnityVS
/UnityVS.tolua.v11.suo
/UnityVS.tolua.CSharp.csproj
/UnityVS.tolua.CSharp.Editor.csproj
/UnityVS.tolua.sln
/Assets/FR2_Cache.asset*
/Assets/StreamingAssets/Android*
/Assets/StreamingAssets/Win32*
/Assets/StreamingAssets/Windows*
/Assets/StreamingAssets/iOS*
/Assets/AssetBundles*

/AssetBundles/
/Bin/
AssetBundleServerURL*
#/ProjectSettings/ProjectVersion.txt
/*.log
/Assets/GuPingTemp*
/Assets/Thirdparty/FastShadowReceiver/Demo*
#/Assets/EasyTouchBundle*
/Assets/Thirdparty/EasyTouchBundle/Install*
/Assets/Thirdparty/EasyTouchBundle/EasyTouch/Examples*
/Assets/Thirdparty/EasyTouchBundle/EasyTouchControls/Examples*

/Tools/__pycache__/

Apks/
aolamobile.luaproj
aolamobile.config

Assets/.vscode/settings.json
Assets/TempScripts.meta
Assets/TempScripts/
Assets/Editor/AutoBuildScript.meta
Assets/Editor/AutoBuildScript/
.vscode/settings.json
UserInterfaceState.xcuserstate
UnityProj/Assets/StreamingAssets/IOS
IOSProj/xcodeprojects/app/Pods
IOSProj/xcodeprojects/libgame/Classes
IOSProj/xcodeprojects/libgame/Data
IOSProj/xcodeprojects/libgame/Libraries
BaitianConfig.txt.bak
Podfile.lock
contents.xcworkspacedata
IDEWorkspaceChecks.plist
IOSProj/ipaout/output
aola.code-workspace
UnityProj/Assets/Plugins/Editor/VSCode.cs.meta
UnityProj/Assets/Plugins/Editor/VSCode.cs
UnityProj/Assets/Plugins/Editor.meta
UnityProj/.vscode/launch.json
UnityProj/Assets/Scripts/LuaDebugjit.lua.meta
UnityProj/Assets/Scripts/LuaDebugjit.lua
UnityProj/Assets/Scripts/LuaDebug.lua.meta
UnityProj/Assets/Scripts/LuaDebug.lua
UnityProj/Assets/Scripts/.vscode/
UnityProj/Assets/.idea/Assets.iml
UnityProj/Assets/.idea/modules.xml
UnityProj/Assets/.idea/workspace.xml
UnityProj/Assets/Plugins/Editor/JetBrains.meta
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
UnityProj/Assets/Scripts/Lua/.idea/Lua.iml
UnityProj/Assets/Scripts/Lua/.idea/misc.xml
UnityProj/Assets/Scripts/Lua/.idea/modules.xml
UnityProj/Assets/Scripts/Lua/.idea/workspace.xml
UnityProj/Assets/.idea/workspace.xml

UnityProj/Assets/Assets.iml
UnityProj/Assets/Assets.iml.meta
*.idea
*.iml
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewModelCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/CodeDetail.json
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/CodeDetail.json.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ListViewCode.txt
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ListViewCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewCode.txt
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewModelCode.txt
UnityProj/Assets/KyleLuaAssets.iml.meta
/ManualPackage/Cache
/ManualPackage/HotUpdateRes
/ManualPackage/Temp
/ManualPackage/DownloadHotupdateZip

UnityProj/Assets/Scripts/Lua/logic/Librarys/Adapter/Log/LogDefineLocal.lua
UnityProj/Assets/Scripts/Lua/logic/Librarys/Adapter/Log/LogDefineLocal.lua.meta
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Editor/Package/resVersionCache.txt
UnityProj/Assets/Editor/Package/resVersionCache.txt.meta
UnityProj/TempMVVMFiles
UnityProj/Assets/Editor/PCPlayAndroidAssetBundle.txt
UnityProj/Assets/Editor/PCPlayAndroidAssetBundle.txt.meta

Library/metadata/
